<div class="collapsible collapsible--expanded">
  <header class="colapsible__header">
    <h2 class="colapsible_heading">Item 1</h2>
    <span class="icon--background">
      <svg class="icon icon--white icon--size collapsible__chevron">
        <use xlink:href=" images\down-chevron-svgrepo-com.svg#Layer_1"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati,
    delectus.
  </div>
</div>

<!-- second collapsible -->
<div class="collapsible collapsible--expanded">
  <header class="colapsible__header">
    <h2 class="colapsible_heading">Item 1</h2>
    <span class="icon--background">
      <svg class="icon icon--white icon--size collapsible__chevron">
        <use xlink:href=" images\down-chevron-svgrepo-com.svg#Layer_1"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati,
    delectus.
  </div>
</div>

<script src="/js/main.js"></script>
