<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="colapsible__header">
        <h2 class="colapsible_heading footer__heading">Item 1</h2>
        <span class="icon--background">
          <svg class="icon icon--white icon--size collapsible__chevron">
            <use
              xlink:href=" images\down-chevron-svgrepo-com.svg#Layer_1"
            ></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hoasting</a></li>
          <li><a href="#">free automated wordpress</a></li>
          <li><a href="">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="colapsible__header">
        <h2 class="colapsible_heading footer__heading">Item 2</h2>
        <span class="icon--background">
          <svg class="icon icon--white icon--size collapsible__chevron">
            <use
              xlink:href=" images\down-chevron-svgrepo-com.svg#Layer_1"
            ></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hoasting</a></li>
          <li><a href="#">free automated wordpress</a></li>
          <li><a href="">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="colapsible__header">
        <h2 class="colapsible_heading footer__heading">Item 3</h2>
        <span class="icon--background">
          <svg class="icon icon--white icon--size collapsible__chevron">
            <use
              xlink:href=" images\down-chevron-svgrepo-com.svg#Layer_1"
            ></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati,
        delectus.
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">copyright 2020 Mosh Hamedani</p>
    </section>
  </div>
</footer>
